@font-face {
    font-family: worksans;
    src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body{
    font-family: 'worksans';
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
    color: hsl(292, 42%, 14%);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

#conteiner{
    background-color: white;
    width: 280px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-top: 10em;

} 
h1 > img{
    width: 23px;
    margin-right: 20px;
}

hr{
    border-color: hsla(293, 16%, 49%, 0.068);
}
.card > p{
    color: hsl(292, 16%, 49%);
    line-height: 1.4em;
    display: none;
    
}

.card {
    overflow: hidden; /* Isso garante que a div se ajuste ao conteúdo dentro dela */
    display: flex; /* Ativa o layout flexível */
    align-items: center; /* Centraliza verticalmente os itens */
  }
  
  h4 {
    float: left; /* Flutua o h3 para a esquerda */
    width: 70%; /* Define a largura do h3 */
    font-size: medium;
  }
  
  .plus {
    float: right; /* Flutua a imagem para a direita */
    width: 30%; /* Define a largura da imagem */
    width: 30px;
    margin-left: auto;
  }
  